<!doctype html>
<html lang="en,ar">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="shortcut icon" href="/assets/pub/fav.png" type="image/x-icon">
    {{if .IsRes}}
    <title>Search: {{.PreInVal}}</title>
    {{else if .IsRootPage}}
    <title>Arabic Verb Families</title>
    {{else}}
    <title>Hans Wehr's Dictionary</title>
    {{end}}
    {{template "style.html"}}
</head>

<body class="text-xl md:text-3xl bg-gray-50 text-gray-800">
    <nav id="navbar"
        class="bg-blue-50 py-2 px-4 fixed bottom-0 left-0 sm:bottom-auto sm:top-0 w-full flex items-center justify-center gap-4">
        <div class="relative border rounded-xl border-blue-400 p-2 flex gap-1 items-center justify-center">
            <button title="Scan intire dictionary" class="p-2" onclick="setSubmiter('text')">
                <!-- نص -->
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="w-6 h-6"
                    viewBox="0 0 16 16">
                    <path
                        d="M1.5 0A1.5 1.5 0 0 0 0 1.5v2A1.5 1.5 0 0 0 1.5 5h13A1.5 1.5 0 0 0 16 3.5v-2A1.5 1.5 0 0 0 14.5 0zm1 2h3a.5.5 0 0 1 0 1h-3a.5.5 0 0 1 0-1m9.927.427A.25.25 0 0 1 12.604 2h.792a.25.25 0 0 1 .177.427l-.396.396a.25.25 0 0 1-.354 0zM0 8a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v5a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2zm1 3v2a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1v-2zm14-1V8a1 1 0 0 0-1-1H2a1 1 0 0 0-1 1v2zM2 8.5a.5.5 0 0 1 .5-.5h9a.5.5 0 0 1 0 1h-9a.5.5 0 0 1-.5-.5m0 4a.5.5 0 0 1 .5-.5h6a.5.5 0 0 1 0 1h-6a.5.5 0 0 1-.5-.5" />
                </svg>
            </button>
            <button title="Search by root" onclick="setSubmiter('root')"
                class="p-2 border-r border-blue-950 border-opacity-30">
                <!-- جزر -->
                <svg xmlns="http://www.w3.org/2000/svg" fill="currentColor" class="w-6 h-6" viewBox="0 0 16 16">
                    <path
                        d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001q.044.06.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1 1 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0" />
                </svg>
            </button>
            <button id="inputClear" class="ml-1 p2 opacity-60">
                <svg width="24" height="24" viewBox="0 0 15 15" fill="none" xmlns="http://www.w3.org/2000/svg"
                    class="w-6 h-6">
                    <path
                        d="M11.782 4.032a.575.575 0 1 0-.813-.814L7.5 6.687 4.032 3.218a.575.575 0 0 0-.814.814L6.687 7.5l-3.469 3.468a.575.575 0 0 0 .814.814L7.5 8.313l3.469 3.469a.575.575 0 0 0 .813-.814L8.313 7.5l3.469-3.468Z"
                        fill="currentColor" fill-rule="evenodd" clip-rule="evenodd"></path>
                </svg>
            </button>
            <input type="text" id="input" name="input" placeholder="اكتب هنا"
                class="text-right direction-rtl p-1 w-[45vw] md:w-72 bg-transparent focus:outline-none focus:ring-0 "
                value="{{.PreInVal}}" required {{if not .IsRes}}autofocus{{end}} />

            <div id="inputSuggestions"
                class="absolute right-0 bottom-16 md:bottom-auto md:top-20 bg-slate-200 border border-blue-400 flex flex-col-reverse md:flex-col text-right w-[45vw] md:w-72 divide-y divide-slate-300 hidden">
            </div>

        </div>
    </nav>


    <!-- There should only be one main section always! -->
    {{if .IsRes}}
    <main class="pt-4 sm:pt-24 pb-24 mx-4 md:mx-10">{{template "res.html" .}}</main>
    {{else if .IsRootPage}}
    <main class="pt-4 sm:pt-24 pb-24">{{template "roots.html" .}}</main>
    {{else}}
    <main class="pt-8 sm:pt-24 mx-6 md:mx-12 text-gray-800">
        <section class="p-4">
            <h1 class="text-3xl sm:text-4xl mb-8 text-blue-800">Hi there!</h1>
            <p class="mb-6">Here are some tips:</p>

            <ol class="list-decimal list-inside space-y-3">
                <li>
                    Go to <a class="text-blue-800 hover:text-blue-800 transition duration-200" href="/roots">/roots</a>
                    page to get details about roots
                </li>
                <li>
                    The Magnifin icon is used for root search.
                </li>
                <li>
                    The other icon is used for searching the entire dictionary for matching phrases.
                </li>
                <li>
                    Press <span class="text-blue-800">SHIFT + Enter</span> or <span class="text-blue-800">CTRL +
                        Enter</span> for full text search.
                </li>
                <li>
                    Press <span class="text-blue-800">s</span> or <span class="text-blue-800">i</span> to focus on
                    the search bar.
                </li>
                <li>
                    Press <span class="text-blue-800">c</span> to scroll up.
                </li>
                <li>
                    Press <span class="text-blue-800">k</span> to scroll down.
                </li>
            </ol>
        </section>
    </main>
    {{end}}

    <script>
        // {{template "main.js"}}
    </script>
</body>

</html>