<!-- <!-- type Entry struct {
    Id          int64  `json:"id"`
    Pid         int64  `json:"pid"`
    IsRoot      bool   `json:"is_root"`
    IsHighlight bool   `json:"is_highlight"`
    Word        string `json:"word"`
    Def         string `json:"def"`
} -->

<!-- <h1 class="text-center text-4xl py-8 bg-red-400">{{.Word}}</h1> -->
<div class="divide-y divide-slate-300">
    {{range .Entries}}
    <div class="px-2 py-4">
        <!-- <div
        style="{{if .IsRoot}}font-weight: bold;{{end}}{{if .IsHighlight}}background: red;{{end}}"
    > -->
        {{.Def}}
        <!-- </div> -->
    </div>
    <!-- <div class="border-b border-gray-900 border-opacity-70 px-1 my-8"></div> -->
    {{else}}
    <div class="">No resusts found</div>
    {{end}}
</div>
