<!-- type Entry struct {
    Id          int64  `json:"id"`
    Pid         int64  `json:"pid"`
    IsRoot      bool   `json:"is_root"`
    IsHighlight bool   `json:"is_highlight"`
    Word        string `json:"word"`
    Def         string `json:"def"`
} -->

<!doctype html>
<html lang="en,ar">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Res</title>
        {{template "style.html"}}
    </head>
    <body class="bg-zinc-300">
        <h1>Resutls for: {{.Word}}</h1>
        {{range .Entries}}
        <div class="">
            <p
                style="{{if .IsRoot}}font-weight: bold;{{end}}{{if .IsHighlight}}background: red;{{end}}"
            >
                {{.Def}}
            </p>
        </div>
        {{else}}
        <div>No resusts found</div>
        {{end}}
    </body>
</html>
